.privacy-policy {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.privacy-policy h1 {
  @apply font-bold;
  @apply text-2xl;
  @apply mb-4;
  @apply text-center;
  @apply text-gray-800;
}

.privacy-policy h2 {
  @apply font-bold;
  @apply text-base;
  @apply mb-3;
  @apply text-center;
  @apply text-gray-600;
}

.privacy-policy h3 {
  @apply font-bold;
  @apply text-2xl;
  @apply pb-3;
  @apply mt-8;
  @apply text-left;
  @apply text-gray-600;
  border-bottom: 1px solid #bbb;
}

.privacy-policy h4 {
  @apply font-bold;
  @apply text-base;
  @apply mb-1;
  @apply mt-4;
  @apply text-left;
  @apply text-gray-600;
}

.privacy-policy p,
.privacy-policy li,
.privacy-policy ul {
  @apply font-light;
  @apply text-sm;
  @apply mb-1;
  @apply text-justify;
  @apply text-gray-500;
  @apply leading-5;
}

.privacy-policy li,
.privacy-policy ul {
  @apply list-disc;
  @apply list-inside;
}
