.action {
  position: fixed;
  top: 12px;
  right: 30px;
}

.action .profile {
  postion: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.action .menu {
  @apply: bg-green-500;
  position: absolute;
  width: 200px;
  top: 64px;
  right: -16px;
  padding: 10px 10px;
  border-radius: 15px;
  transition: 0.25s;
  visibility: hidden;
  opacity: 0;
}

.action .menu.active {
  @apply: bg-green-500;
  visibility: visible;
  opacity: 1;
  transform: translateY(-10px);
}
.action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 15px;
}
